# Ignore everything
*

# Keep gitignore and README
!.gitignore
!README.md

# Keep assignment folder
!Assigment-1_HaniKarime/
!Assigment-1_HaniKarime/GraphML_Assigment-1_Hanikarime_House Privacy.ipynb

# Ignore checkpoints
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc