# Ignore everything
*

# Unignore gitignore and README
!.gitignore
!README.md

# Unignore the assignment folder and its contents
!Assignment-1_HaniKarime/
!Assignment-1_HaniKarime/**
!Assignment-2_HaniKarime/
!Assignment-2_HaniKarime/**